dj-database-url==0.4.1
Django==1.8.8
gunicorn==19.6.0
psycopg2==2.6.2
whitenoise==3.2.2
django-crispy-forms==1.6.1
cryptography==1.5.3
django-registration==2.1.2
django-search==1.0
pycrypto==2.6.1