{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading"> User Settings </div>
				<div class="panel-body">
					<h3> <strong> First Name: </strong> {{ request.user.first_name }} </h3>
					<h3> <strong> Last Name: </strong> {{ request.user.last_name }} </h3>
					<h3> <strong> Email: </strong> {{ request.user.email }} </h3>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading"> Additional Information </div>
				<div class="panel-body">
					<h3> <strong> Birthday: </strong> {{ request.user.profile.birth_date }} </h3>
					<h3> <strong> Location: </strong> {{ request.user.profile.location }} </h3>
					<h3> <strong> Bio: </strong> {{ request.user.profile.bio }} </h3>
				</div>
			</div>
			<a class="btn btn-default btn-large btn-block" href="/accounts/profile/edit/" role="button"> <h2> Edit </h2> </a>
		</div>
	</div>
{% endblock content %}
