{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load search_tags %}

{% block content %}
    <div class="row">
        <h1 class="text-center"> <strong> Public Users </strong> </h1>
		<h2 class="text-center"> {% search pubusers username first_name last_name %} </h2>
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				{% for user in pubusers %}
					<a href="/profiles/{{ user.username }}"> <h2 class="text-center"> {{ user.username }} </h2> </a>
				{% endfor %}
			</div>
		</div>
    </div>
{% endblock content %}
